extends layout
block append content
  form(role='form', action="/login",method="post")
    .form-group
      label(for="user") Username
      input(type="text", name="username")
    .form-group
      label(for="password") Password
      input(type="password", name="password")
    button Submit
